/*Reset*/

* {
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    color: var(--white);
}

html, body, footer {
    margin: 0;
}

h1, h2, a, p {
    font-weight: 300;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

img, figure, main, section {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}


/* Mes couleurs*/
:root{
    --background:#383D4E;
    --footer: #292C36;
    --primary: #DA4343;
    --secondary: #BBDCF3;
    --tertiary: #184E75;
    --white: #fff;
    --shadow: 2px 3px 15px rgba(23, 22, 22, 0.39);

}

/*Général*/

body{
    background: var(--background);
}
footer {
    width: 100%;
    padding: 1rem 0;
    background: var(--footer);
    position: absolute;
    bottom: 0;
}



main, .footer-content {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}

main {
    height: 100%;
}
/*Le titre*/

h1 {
    text-align: center;
    font-size: 1.8rem;
}

h1 strong {
    font-weight: 700;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

/*les dimension du jeu*/
/**Toute modif ici entraine dérèglement du jeu...Carefull, donc*/
h1 {
    padding-top: 3rem;
    margin-bottom: 1rem;
}

/*l'espace de jeu*/
.gameGround {
    width: 910px;
    height: 480px;
    margin: 0 auto;
}

.chocoCanva {
    width: 910px;
    height: 360px;
}

/*Le sol qui se foule gaiment*/
.ground {
    width: 910px;
    height: 30px;
    position: absolute;
    top: 558px;
}

/*Camille, ta future stagiaire*/
.camille {
    position: absolute;
    margin-top: 10px;
    top: 437px;
}

.game, .chocoCanva {
    overflow: hidden;
}


/*Les mise en forme du game*/

.gameGround {
    background: var(--secondary);
    box-shadow: var(--shadow);
}

.ground {
    background: var(--tertiary);
}

/*Le game*/

/*Les chocolats*/
.chocolat {
    width: 30px;
    height: auto;
}

/*Camille, ta future stagiaire*/
.camille {
    width: 120px;
    height: auto;
}

.chocolat>img, .camille >img{
    width: 100%;
}

/*Les controller, left, jump = goUp, right*/

.controller {
    width: 300px;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
}

.controller button {
    background: var(--primary);
    width: 60px;
    height: 60px;
    border-radius: 30px 30px 15px 15px;
    box-shadow: var(--shadow);
}

.controller button:hover{
    box-shadow: 3px 3px 15px rgba(187, 220, 243, 0.41);

}

.controller button >i >img {
    width: 30px;
    margin-top: 6px;
}

.goLeft {
    transform: rotate(-90deg);
}

.goRight {
    transform: rotate(90deg);
}

/*Footer*/

.footer-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer-content h2 {
    font-size: 1.8rem;
    align-self: center;
}

.footer-content h2>strong>a {
    color: var(--primary);
    font-weight: 600;
}

.footer-content h2>strong>a:hover {
    color: var(--secondary);
}

.contact a{
    display: inline-block;
    width: 160px;
    height: 50px;
    margin: 8px;
    border-radius: 12px;
    text-align: center;
    padding-top: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--tertiary);
    box-shadow: var(--shadow);
}

.contact a:hover, .contact a:focus{
    background: var(--primary);
    box-shadow: 3px 3px 15px rgba(187, 220, 243, 0.41);
}



